.details-container {
  background: rgba(17, 57, 107, 0.5);
  /* background-color: #11396b; */
  text-align: center;
  color: #fff;
  text-shadow: 2px 3px #11396b;
  font-family: sans-serif, Arial, Helvetica;
  text-align: center;
  max-width: 400px;
  border-radius: 15px;
  padding: 10%;
}

h2, p, div {
  color: white;
}

#thumbnail img {
  width: 84px;
  height: 84px;
}

#spec img {
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
}

#gender img {
  margin-top: 2px;
  width: 40px;
  height: 40px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
}

.name-col {
  flex: 0 0 100px !important;
  white-space: unset !important;
}

.example-card {
  max-width: 500px;
}

.button-row {
  margin: 10px 0;
}
