<div style="text-align:center">
  <h1>{{ title }} </h1>
  <img width="300" alt="WoW logo" src="src/assets/world-of-warcraft-logo.svg">
</div>
<h2>Please enter your BattleNet ID and choose server below:</h2>

<section>
  <form action="/login" method="POST">
    <div class="authorization d-flex justify-content-between">
      <input class="col-md-6" type="text" name="username" placeholder="your BattleNet Id...">
      <app-gameServers class="col-md-6"></app-gameServers>
    </div>
    <input class="auth-btn col-md-4" type="submit" value="Authorize">
  </form>
</section>

<app-characters></app-characters>

<footer>
  "WoW Profile Loader" (or wow-profile-loader) uses names and images from World of Warcraft,
  and data proprietary to Blizzard Entertainment, Inc.
  <br>World of Warcraft, Warcraft and Blizzard Entertainment are trademarks
  or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.
</footer>
