<div style="text-align:center">
  <h1>{{ title }}</h1>
  <img width="300" alt="WoW logo" src="src/assets/world-of-warcraft-logo.svg">
</div>
<h3>Please enter your BattleNet ID and choose server below:</h3>

<section >
  <div class="authorization d-flex justify-content-between">
    <input class="col-md-6" type="text" name="username" placeholder="your BattleNet Id...">
    <app-gameServers class="col-md-6"></app-gameServers>
  </div>
  <input class="auth-btn col-md-4" type="button" name="Authorize" value="Authorize">
</section>


<app-characters></app-characters>
