
h1 {
  color: #FAE96E;
  font-family: 'MedievalSharp', cursive, sans-serif, Arial, Helvetica;
  font-size: 300%;
}
h2, h3 {
  text-align: center;
  color: #fff;
  text-shadow: 2px 3px #11396b;
  font-family: sans-serif, Arial, Helvetica;
  margin: 5%;
}

body {
  margin: 2em;
}

* {
  font-family: sans-serif, Arial, Helvetica;
}

.authorization {
  margin: 10px;
  padding: 10px;
}

section {
  margin-bottom: 2em;
  text-align: center;
}

input {
  border-radius: 5px;
}

.auth-btn {
  background-color: #3e5f789c;
  color: #fff;
  border-radius: 5px;
}

footer {
  font-size: 10px;
  font-family: sans-serif;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}
