<div style="text-align:center">
  <h1>{{ title }} </h1>
  <img width="300" alt="WoW logo" src="src/assets/world-of-warcraft-logo.svg">
</div>

<app-regions></app-regions>

<app-characters></app-characters>

<footer>
  "WoW Profile Loader" (or wow-profile-loader) uses names and images from World of Warcraft,
  and data proprietary to Blizzard Entertainment, Inc.
  <br>World of Warcraft, Warcraft and Blizzard Entertainment are trademarks
  or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.
</footer>
