
  <!-- <h2>List of my characters</h2> -->
  <h2>Currently you have {{characters.length}} characters</h2>
  <p><em>click on any name below in order to view the details</em></p>
  <div class="d-flex justify-content-between">

    <ul class="characters">
      <li *ngFor="let character of characters"
      [class.selected]="character === selectedCharacter"
      (click)="onSelect(character)">
      <span class="badge">
        <img src="{{character.iconAddress}}" alt="{{character.classTitle}}" title="{{character.classTitle}}">
      </span> {{character.name}}
    </li>
  </ul>

  <app-character-detail [character]="selectedCharacter"></app-character-detail>
  </div>
