h2, p {
  text-align: center;
  color: #EDDA9E;
}

.selected {
  background-color: #F0C785 !important;
  color: #734917;
  font-weight: bolder;
}
.characters {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.characters li {
  font-family: 'MedievalSharp', cursive;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #F5D9AD;
  color: black;
  margin: .5em;
  padding: .4em;
  border-radius: 5px;
}
.characters li.selected:hover {
  background-color: #F1CD92 !important;
  color: #734917;
}
.characters li:hover {
  color: #734917;
  background-color: #F1CD92;
  left: .1em;
}
.characters .text {
  position: relative;
  top: -5px;
}
.characters .badge img {
  /* padding-left: 0.5em; */
  background-color: inherit;
  float: left;
  height: 1.6em;
  margin-right: .8em;
  border-radius: 3px;
}
