h2, h3, p {
  text-align: center;
  color: #fff;
  text-shadow: 2px 3px #11396b;
  font-family: sans-serif, Arial, Helvetica;
}

.selected {
  color: #734917;
  text-shadow: 1px 1px #A1DBFF;
  font-weight: bolder;
}

.characters {
  list-style-type: none;
  width: 300px;
}

.characters li {
  font-family: 'Caveat', 'open-sans';
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #DDB779;
  color: black;
  margin: .5em;
  font-size: 2em;
  border-radius: 5px;
}
.characters li.selected:hover {
  background-color: #F1CD92;
  color: #734917;
}
.characters li:hover {
  color: #734917;
  background-color: #F1CD92;
  left: .1em;
}

.characters .badge img {
  float: left;
  height: 2.5em;
  margin-right: .8em;
  border-radius: 3px;
}
